# dependencies
node_modules/

# next.js build output
.next/
.open-next/
out/

# misc build artifacts
next-env.d.ts
*.tsbuildinfo

# env files
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
